{% extends 'base.html' %}
{% load static %}

{% block title %}Import Accounts{% endblock %}
{% block head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/import_accounts.css' %}">
{% endblock %}
{% block content %}

    <h1 style="text-align: center;">Import Accounts</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="accounts_file">Choose a CSV file to upload:</label>
        <input type="file" name="accounts_file" id="accounts_file" required>
        <button type="submit">Upload</button>
    </form>
{% endblock %}

{% block extra_scripts %}
<script>
    // Function to hide the success message after a specific time
    setTimeout(function() {
        var successMessage = document.getElementById('success-message');
        var errorMessage = document.getElementById('error-message');
        if (successMessage) {
            successMessage.style.display = 'none';
        }
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 3000); // Adjust the time (in milliseconds) to hide the div after 3 seconds
</script>
{% endblock %}